Repository lf-connectivity/maveric: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, jupyter-nb-clear-output

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --disable=all
  - --enable=W0102
  - --score=no

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  stages:
  - commit
  language: system
  entry: jupyter nbconvert --clear-output

changed location for handler and added unit tests
  radp/digital_twin/mobility/tests/test_UETracksGenerationHelper.py
  radp/digital_twin/mobility/ue_tracks_generation_helper.py
Due: pylint

fixed hanlder position
  radp/digital_twin/mobility/tests/test_UETracksGenerationHelper.py
  services/ue_tracks_generation/ue_tracks_generation_helper.py
Due: pylint

fixed import locations
  radp/digital_twin/mobility/tests/test_UETracksGenerationHelper.py
Due: pylint

used black on test & helper files
  radp/digital_twin/mobility/tests/test_UETracksGenerationHelper.py
  services/ue_tracks_generation/ue_tracks_generation_helper.py
Due: pylint

fixed name and removed redundant code in test
  radp/digital_twin/mobility/tests/test_ue_tracks_generation_helper.py
Due: pylint

added docstring
  radp/digital_twin/mobility/tests/test_ue_tracks_generation_helper.py
Due: pylint

added HOW TO RUN comment
  radp/digital_twin/mobility/tests/test_ue_tracks_generation_helper.py
Due: pylint

blacked
  radp/digital_twin/mobility/tests/test_ue_tracks_generation_helper.py
Due: pylint

fixed typo
  radp/digital_twin/mobility/tests/test_ue_tracks_generation_helper.py
Due: pylint

Modified ue_tracks as per PR Requirements
  radp/digital_twin/mobility/ue_tracks.py
  services/ue_tracks_generation/ue_tracks_generation_driver.py
Due: pylint

Fixed a bug in the ue_tracks, generate_as_lon_lat_points
  radp/digital_twin/mobility/ue_tracks.py
Due: pylint

Solving the CI test issue
  radp/digital_twin/mobility/ue_tracks.py
Due: pylint

Addes new file ue_tracks_param to handle job data
  radp/digital_twin/mobility/ue_generation_handler.py
  radp/digital_twin/mobility/ue_tracks.py
  radp/digital_twin/mobility/ue_tracks_params.py
Due: pylint

Added missing import in ue_tracks file
  radp/digital_twin/mobility/ue_tracks.py
Due: pylint

Formatted code with Black
  radp/digital_twin/mobility/ue_tracks_params.py
Due: pylint

made pr comment changes
  radp/digital_twin/mobility/tests/test_ue_tracks_generation_helper.py
Due: pylint

fixed test_ue_params
  radp/digital_twin/mobility/tests/test_ue_tracks_params.py
Due: pylint

added docstring
  radp/digital_twin/mobility/tests/test_ue_tracks_params.py
Due: pylint

Test ue generation handler (#4)
  radp/digital_twin/mobility/tests/test_ue_tracks_generation_helper.py
  radp/digital_twin/mobility/tests/test_ue_tracks_params.py
  services/ue_tracks_generation/ue_tracks_generation_helper.py
Due: pylint

Created Parameter Regression model and updated requirements.txt in digitaltwin module
  radp/digital_twin/mobility/param_regression.py
  radp/digital_twin/requirements.txt
Due: pylint

Added Docstring for ParameterRegression
  radp/digital_twin/mobility/param_regression.py
Due: pylint

Added unittest cases for param regression
  radp/digital_twin/mobility/tests/test_param_regression.py
Due: pylint

Fixed scipy requirement.txt issue
  radp/digital_twin/requirements.txt
Due: none

Fixed Dependency issue for scipy import
  radp/digital_twin/requirements.txt
Due: none

Removed package version to solve issue
  radp/digital_twin/requirements.txt
Due: none

Created helper functions in radp library and mobility_model notebook
  notebooks/coo_with_radp_digital_twin.ipynb
  notebooks/mobility_model.ipynb
  notebooks/radp_library.py
Due: pylint, jupyter-nb-clear-output

Test Cases for UE Generation Handler (#11)
  radp/digital_twin/mobility/tests/test_ue_tracks_generation_helper.py
  radp/digital_twin/mobility/tests/test_ue_tracks_params.py
  radp/digital_twin/mobility/ue_tracks.py
  radp/digital_twin/mobility/ue_tracks_params.py
  services/ue_tracks_generation/ue_tracks_generation_driver.py
  services/ue_tracks_generation/ue_tracks_generation_helper.py
Due: pylint

Fixed PR changes for params_regression
  radp/digital_twin/mobility/param_regression.py
Due: pylint

Fixed Unittest for param_regression according to PR change
  radp/digital_twin/mobility/tests/test_param_regression.py
Due: pylint

Fixed the mobility notebook and radp_library file(PR changes done)
  notebooks/mobility_model.ipynb
  notebooks/radp_library.py
  radp/digital_twin/mobility/param_regression.py
  radp/digital_twin/requirements.txt
Due: pylint, jupyter-nb-clear-output

Resolved test_param_regression unittest cases
  radp/digital_twin/mobility/tests/test_param_regression.py
Due: pylint

Updated Param Regression and radp library as instructed in the PR review
  notebooks/mobility_model.ipynb
  notebooks/radp_library.py
  radp/digital_twin/mobility/param_regression.py
  radp/digital_twin/mobility/tests/test_param_regression.py
  radp/digital_twin/requirements.txt
Due: pylint, jupyter-nb-clear-output

Changed the scipy dependency to solve dependency error
  radp/digital_twin/requirements.txt
Due: none

Changed how seed value works especially made it user friendly
  notebooks/mobility_model.ipynb
  notebooks/radp_library.py
Due: pylint, jupyter-nb-clear-output

Refactored functions and changed the imports
  notebooks/coo_with_radp_digital_twin.ipynb
  notebooks/mobility_model.ipynb
  notebooks/radp_library.py
  radp/digital_twin/mobility/param_regression.py
Due: pylint, jupyter-nb-clear-output

Resolved test_param_regression imports
  radp/digital_twin/mobility/tests/test_param_regression.py
Due: pylint

Mobility model alpha parameter regression from data (#15)
  notebooks/coo_with_radp_digital_twin.ipynb
  notebooks/mobility_model.ipynb
  notebooks/radp_library.py
  radp/digital_twin/mobility/param_regression.py
  radp/digital_twin/mobility/tests/test_param_regression.py
  radp/digital_twin/requirements.txt
Due: pylint, jupyter-nb-clear-output

Path conditions:
  pylint: any of: \.py$
  jupyter-nb-clear-output: any of: \.ipynb$
