Repository lf-connectivity/maveric: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, jupyter-nb-clear-output

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --disable=all
  - --enable=W0102
  - --score=no

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  stages:
  - commit
  language: system
  entry: jupyter nbconvert --clear-output

added minor fix
  apps/mobility_robustness_optimization/mro_ml.py
Due: pylint

fixed testing error
  apps/mobility_robustness_optimization/mro_ml.py
Due: pylint

reverted pre-commit.yml
  .pre-commit-config.yaml
Due: none

CCO Modularized and Enhanced
  apps/coverage_capacity_optimization/MIGRATION_GUIDE.md
  apps/coverage_capacity_optimization/README.md
  apps/coverage_capacity_optimization/bdt_manager.py
  apps/coverage_capacity_optimization/cco_env.py
  apps/coverage_capacity_optimization/cco_prediction.py
  apps/coverage_capacity_optimization/cco_trainer.py
  apps/coverage_capacity_optimization/data_preprocessing.py
  apps/coverage_capacity_optimization/example_usage.py
  apps/coverage_capacity_optimization/main_app.py
  apps/coverage_capacity_optimization/requirements.txt
Due: pylint

Revert "CCO Modularized and Enhanced"
  apps/coverage_capacity_optimization/MIGRATION_GUIDE.md
  apps/coverage_capacity_optimization/README.md
  apps/coverage_capacity_optimization/bdt_manager.py
  apps/coverage_capacity_optimization/cco_env.py
  apps/coverage_capacity_optimization/cco_prediction.py
  apps/coverage_capacity_optimization/cco_trainer.py
  apps/coverage_capacity_optimization/data_preprocessing.py
  apps/coverage_capacity_optimization/example_usage.py
  apps/coverage_capacity_optimization/main_app.py
  apps/coverage_capacity_optimization/requirements.txt
Due: pylint

made minor bugfix for rl mro
  apps/mobility_robustness_optimization/mro_rl.py
Due: pylint

feat: enhanced mobility visualization from legacy funcs
  .gitignore
  radp/digital_twin/agentic_mobility/README.md
  radp/digital_twin/agentic_mobility/chains/parameter_chain.py
  radp/digital_twin/agentic_mobility/examples/end_to_end_example.py
  radp/digital_twin/agentic_mobility/examples/visualization_demo.ipynb
  radp/digital_twin/agentic_mobility/examples/visualization_demo_enhanced.ipynb
  radp/digital_twin/agentic_mobility/integration.py
  radp/digital_twin/agentic_mobility/models/query_intent.py
  radp/digital_twin/agentic_mobility/prompts/parameter_prompts.py
  radp/digital_twin/agentic_mobility/prompts/parser_prompts.py
  radp/digital_twin/agentic_mobility/visualization/README.md
  radp/digital_twin/agentic_mobility/visualization/__init__.py
  radp/digital_twin/agentic_mobility/visualization/legacy.py
  radp/digital_twin/agentic_mobility/visualization/tracks.py
  radp/digital_twin/agentic_mobility/visualization/utils.py
  radp/digital_twin/requirements.txt
Due: pylint, jupyter-nb-clear-output

Complete agentic_mro pipeline
  apps/mobility_robustness_optimization/agentic_mro/__init__.py
  apps/mobility_robustness_optimization/agentic_mro/config.yaml
  apps/mobility_robustness_optimization/agentic_mro/graph.py
  apps/mobility_robustness_optimization/agentic_mro/llm/__init__.py
  apps/mobility_robustness_optimization/agentic_mro/llm/llm_provider.py
  apps/mobility_robustness_optimization/agentic_mro/llm/prompt_templates.py
  apps/mobility_robustness_optimization/agentic_mro/main.py
  apps/mobility_robustness_optimization/agentic_mro/nodes/__init__.py
  apps/mobility_robustness_optimization/agentic_mro/nodes/analyzer_node.py
  apps/mobility_robustness_optimization/agentic_mro/nodes/coordinator_node.py
  apps/mobility_robustness_optimization/agentic_mro/nodes/finalize_node.py
  apps/mobility_robustness_optimization/agentic_mro/nodes/strategy_node.py
  apps/mobility_robustness_optimization/agentic_mro/requirements.txt
  apps/mobility_robustness_optimization/agentic_mro/run_from_config.py
  apps/mobility_robustness_optimization/agentic_mro/state.py
  apps/mobility_robustness_optimization/agentic_mro/tests/__init__.py
  apps/mobility_robustness_optimization/agentic_mro/utils/__init__.py
  apps/mobility_robustness_optimization/agentic_mro/utils/evaluation.py
  apps/mobility_robustness_optimization/agentic_mro/utils/feature_extraction.py
  apps/mobility_robustness_optimization/agentic_mro/utils/stop_conditions.py
  notebooks/simulation_data_initial.csv
Due: pylint

interactive visual & location validation
  radp/digital_twin/agentic_mobility/examples/end_to_end_example.py
  radp/digital_twin/agentic_mobility/examples/end_to_end_viz_example.py
  radp/digital_twin/agentic_mobility/examples/interactive_visualization_demo.ipynb
  radp/digital_twin/agentic_mobility/examples/visualization_demo.ipynb
  radp/digital_twin/agentic_mobility/visualization/__init__.py
  radp/digital_twin/agentic_mobility/visualization/geographic.py
  radp/digital_twin/agentic_mobility/visualization/interactive.py
  radp/digital_twin/requirements.txt
Due: pylint, jupyter-nb-clear-output

feat: Using the workflow from agentic mobility expand to generate topology data with different cell features to create robust workflow in agentic approach
  radp/digital_twin/agentic_mobility/api.py
  radp/digital_twin/agentic_mobility/chains/topology_chain.py
  radp/digital_twin/agentic_mobility/config.py
  radp/digital_twin/agentic_mobility/examples/end_to_end_viz_example.py
  radp/digital_twin/agentic_mobility/models/topology_params.py
  radp/digital_twin/agentic_mobility/prompts/topology_prompts.py
  radp/digital_twin/agentic_mobility/topology_generator.py
  radp/digital_twin/agentic_mobility/utils/geocoding.py
  ue_tracks.png
  ue_tracks_with_topology.png
Due: pylint

Fixed final json output
  apps/mobility_robustness_optimization/agentic_mro/config.yaml
  apps/mobility_robustness_optimization/agentic_mro/nodes/coordinator_node.py
  apps/mobility_robustness_optimization/agentic_mro/state.py
Due: pylint

feat: change topology gen algorithm and visualization algo to identify tower query
  radp/digital_twin/agentic_mobility/examples/end_to_end_viz_example.py
  radp/digital_twin/agentic_mobility/placement/__init__.py
  radp/digital_twin/agentic_mobility/placement/genetic_algorithm.py
  radp/digital_twin/agentic_mobility/prompts/topology_prompts.py
Due: pylint

added visuals
  apps/mobility_robustness_optimization/agentic_mro/run_from_config.py
  notebooks/radp_library.py
Due: pylint

feat: Changed topology generation algorithm with different metrics consideration and setting it default to genetic algorithm
  radp/digital_twin/agentic_mobility/examples/end_to_end_viz_example.py
  radp/digital_twin/agentic_mobility/placement/genetic_algorithm.py
  radp/digital_twin/agentic_mobility/prompts/topology_prompts.py
  radp/digital_twin/agentic_mobility/topology_generator.py
Due: pylint

updated matplotlib dependency version to 3.10.7
  notebooks/requirements.txt
  requirements-dev.txt
Due: none

agentic mobility: readme docs updated
  radp/digital_twin/agentic_mobility/README.md
  radp/digital_twin/agentic_mobility/visualization/README.md
Due: none

[agentic mobility] Add showcase notebooks
  notebooks/agentic_mobility_model.ipynb
  notebooks/agentic_mro.ipynb
  radp/digital_twin/agentic_mobility/.env.example
Due: jupyter-nb-clear-output

[agentic mobility] notebook integrated & ready for agentic mro notebook
  .gitignore
  notebooks/agentic_mobility_model.ipynb
  notebooks/agentic_mro.ipynb
  radp/digital_twin/agentic_mobility/examples/end_to_end_viz_example.py
  radp/digital_twin/agentic_mobility/visualization/__init__.py
  radp/digital_twin/agentic_mobility/visualization/tracks.py
Due: pylint, jupyter-nb-clear-output

integrated agentic mro
  apps/mobility_robustness_optimization/agentic_mro/config.yaml
  apps/mobility_robustness_optimization/agentic_mro/graph.py
  apps/mobility_robustness_optimization/agentic_mro/main.py
  apps/mobility_robustness_optimization/agentic_mro/run_from_config.py
  apps/mobility_robustness_optimization/agentic_mro/utils/visuals.py
  notebooks/agentic_mro.ipynb
  notebooks/simulation_data_initial.csv
  ue_tracks.png
  ue_tracks_with_topology.png
Due: pylint, jupyter-nb-clear-output

made topology fix
  apps/mobility_robustness_optimization/agentic_mro/utils/visuals.py
  notebooks/agentic_mro.ipynb
  notebooks/radp_library.py
  radp/digital_twin/utils/cell_selection.py
Due: pylint, jupyter-nb-clear-output

Added up-to-date READMEs
  DEVELOPER-GUIDE.md
  README-CCO.md
  README-Energy-Savings.md
  README-Load-Balancing.md
  README-MRO.md
Due: none

Updated codebases with stalled PR
  apps/mobility_robustness_optimization/mobility_robustness_optimization.py
  apps/mobility_robustness_optimization/mro_ml.py
  apps/mobility_robustness_optimization/mro_rl.py
  apps/mobility_robustness_optimization/simple_mro.py
  apps/mobility_robustness_optimization/tests/test_mobility_robustness_optimization.py
  apps/mobility_robustness_optimization/tests/test_mro_ml.py
  notebooks/radp_library.py
  notebooks/requirements.txt
  notebooks/tests/test_radp_library.py
  radp/digital_twin/utils/cell_selection.py
  radp/digital_twin/utils/constants.py
  radp/digital_twin/utils/tests/test_cell_selection.py
Due: pylint

Changes made to ensure functionalitry of all apps and agents
  apps/mobility_robustness_optimization/agentic_mro/requirements.txt
  apps/requirements.txt
  radp/digital_twin/rf/bayesian/bayesian_engine.py
Due: pylint

Agentic Workflow Guide added
  README-AGENTIC.md
Due: none

Migrated to Bedrock
  apps/mobility_robustness_optimization/agentic_mro/config.yaml
  apps/mobility_robustness_optimization/agentic_mro/llm/llm_provider.py
  apps/mobility_robustness_optimization/agentic_mro/main.py
  apps/mobility_robustness_optimization/agentic_mro/requirements.txt
  apps/mobility_robustness_optimization/agentic_mro/run_from_config.py
  notebooks/agentic_mobility_model.ipynb
  notebooks/agentic_mro.ipynb
  radp/digital_twin/agentic_mobility/.env.example
  radp/digital_twin/agentic_mobility/config.py
  radp/digital_twin/agentic_mobility/utils/llm_client.py
  radp/digital_twin/requirements.txt
Due: pylint, jupyter-nb-clear-output

Changed python version
  .github/workflows/end_to_end_tests.yml
  .github/workflows/unit_tests.yml
Due: none

Chnaged to python version 3.10
  .github/workflows/end_to_end_tests.yml
  .github/workflows/unit_tests.yml
Due: none

Hotfix
  radp/Dockerfile
  radp/digital_twin/agentic_mobility/tests/test_integration.py
Due: pylint

Adjusted requirments for python version
  radp/client/requirements.txt
  radp/digital_twin/requirements.txt
  tests/requirements.txt
Due: none

Fixed Bedrock throttling
  apps/mobility_robustness_optimization/agentic_mro/config.yaml
  apps/mobility_robustness_optimization/agentic_mro/llm/llm_provider.py
  radp/digital_twin/agentic_mobility/.env.example
  radp/digital_twin/agentic_mobility/utils/llm_client.py
Due: pylint

Guide fix
  notebooks/agentic_mro.ipynb
Due: jupyter-nb-clear-output

Revert "feat: comprehensive validation system for RADP APIs"
  services/api_manager/app.py
  services/api_manager/exceptions/base_api_exception.py
  services/api_manager/exceptions/validation_exception.py
  services/api_manager/handlers/simulation_handler.py
  services/api_manager/handlers/train_handler.py
  services/api_manager/tests/handlers/test_simulation_handler.py
  services/api_manager/tests/handlers/test_train_handler.py
  services/api_manager/tests/validators/test_file_validator.py
  services/api_manager/tests/validators/test_simulation_validator.py
  services/api_manager/tests/validators/test_training_validator.py
  services/api_manager/validators/base_validator.py
  services/api_manager/validators/file_validator.py
  services/api_manager/validators/simulation_validator.py
  services/api_manager/validators/training_validator.py
  tests/happy_case_tests/happy_rf_prediction.py
  tests/happy_case_tests/happy_ue_track_gen_rf_prediction.py
  tests/performance_validation_test.py
  tests/run_end_to_end_tests.py
  tests/run_validation_tests.py
  tests/unhappy_case_tests/unhappy_invalid_requests.py
Due: pylint

fix: resolved BDT model download issue in lb
  .gitignore
  apps/load_balancing/bdt_manager.py
Due: pylint

added ml_mro example to notebook & added all docstring for mro
  apps/mobility_robustness_optimization/mro_ml.py
  apps/mobility_robustness_optimization/mro_rl.py
  notebooks/mro.ipynb
  notebooks/radp_library.py
Due: pylint, jupyter-nb-clear-output

added proper docstring for new cell attachment
  radp/digital_twin/utils/cell_selection.py
Due: pylint

fixed mro minor testing bug
  apps/mobility_robustness_optimization/tests/test_mro_ml.py
Due: pylint

fix: solved dev port issuein lb & es
  apps/energy_savings/Readme.md
  apps/energy_savings/main_app.py
  apps/load_balancing/Readme.md
  apps/load_balancing/main_app.py
Due: pylint

feat:svgp digital twin implemented
  notebooks/svgp_digital_twin_poc.ipynb
  radp/digital_twin/rf/__init__.py
  radp/digital_twin/rf/base_model.py
  radp/digital_twin/rf/svgp/__init__.py
  radp/digital_twin/rf/svgp/svgp_engine.py
  radp/digital_twin/rf/svgp/tests/__init__.py
  radp/digital_twin/rf/svgp/tests/test_svgp_engine.py
  radp/digital_twin/utils/gis_tools.py
Due: pylint, jupyter-nb-clear-output

svgp notebook for a poc refined
  notebooks/svgp_digital_twin_poc.ipynb
Due: jupyter-nb-clear-output

docs: update requirements-dev.txt and update README-DEV.md
  README-DEV.md
  requirements-dev.txt
Due: none

Path conditions:
  pylint: any of: \.py$
  jupyter-nb-clear-output: any of: \.ipynb$
