Repository lf-connectivity/maveric: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, jupyter-nb-clear-output

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-json
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: ['--markdown-linebreak-ext=md,markdown']

  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        args:
          - --line-length=120

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--profile", "black", "--line-length=120", "--filter-files"]

  - repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        args: ["--max-line-length=120"]

  # --enable=W0102 is a check used when a mutable value as list or dictionary
  # is detected in a default value for an argument.
  # --disable=all, disables warnings
  # --score=no disables having scoring done against code
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ["--disable=all", "--enable=W0102", "--score=no"]

  - repo: local
    hooks:
      - id: jupyter-nb-clear-output
        name: jupyter-nb-clear-output
        files: \.ipynb$
        stages: [commit]
        language: system
        entry: jupyter nbconvert --clear-output

assert with reproduced results on same platform
  radp/digital_twin/rf/bayesian/tests/test_bayesian_engine.py
  radp/utility/simulation_utils.py
Due: pylint

assert loss_vs_iter, mean absolute error and mean absolute percentage error in bayesian test
  radp/digital_twin/rf/bayesian/tests/test_bayesian_engine.py
Due: pylint

made suggested changes
  radp/common/utils.py
  radp/digital_twin/rf/bayesian/tests/test_bayesian_engine.py
Due: pylint

made suggested changes
  radp/digital_twin/rf/bayesian/tests/test_bayesian_engine.py
Due: pylint

moved utils.py to utility/simulation_utils.py
  radp/digital_twin/rf/bayesian/tests/test_bayesian_engine.py
  radp/utility/requirements.txt
  radp/utility/simulation_utils.py
Due: pylint

Asserts in bayesian test (#1)
  radp/digital_twin/rf/bayesian/tests/test_bayesian_engine.py
  radp/utility/requirements.txt
  radp/utility/simulation_utils.py
Due: pylint

Refactor energy_savings_gym to accept multiple digital twins
  apps/energy_savings/energy_savings_gym.py
  apps/energy_savings/tests/test_energy_savings_gym.py
  notebooks/energy_savings_on_multicell_bayesian_digitaltwins.ipynb
  notebooks/energy_savings_on_singlecell_bayesian_digitaltwin.ipynb
  notebooks/radp_library.py
  radp/digital_twin/rf/bayesian/bayesian_engine.py
Due: pylint, jupyter-nb-clear-output

Refactor energy_savings_gym to accept multiple digital twins (#3)
  apps/energy_savings/energy_savings_gym.py
  apps/energy_savings/tests/test_energy_savings_gym.py
  notebooks/energy_savings_on_multicell_bayesian_digitaltwins.ipynb
  notebooks/energy_savings_on_singlecell_bayesian_digitaltwin.ipynb
  notebooks/radp_library.py
  radp/digital_twin/rf/bayesian/bayesian_engine.py
Due: pylint, jupyter-nb-clear-output

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Update CONTRIBUTING.md (#6)
  CONTRIBUTING.md
Due: none

Adding charter for maverick
  Charter_Maveric.pdf
Due: none

Adding charter for maverick (#7)
  Charter_Maveric.pdf
Due: none

updated type hints
  services/ue_tracks_generation/ue_tracks_generation_handler.py
Due: pylint

added Docstring
  services/ue_tracks_generation/ue_tracks_generation_handler.py
Due: pylint

Refined UEGeneration Handler
  services/ue_tracks_generation/ue_tracks_generation_handler.py
Due: pylint

Fixed Indentation Issue
  services/ue_tracks_generation/ue_tracks_generation_handler.py
Due: pylint

New Class
  services/ue_tracks_generation/ue_tracks_generation_handler.py
Due: pylint

Function modified
  services/ue_tracks_generation/ue_tracks_generation_handler.py
Due: pylint

UEGeneration Handler Done
  services/ue_tracks_generation/ue_tracks_generation_handler.py
Due: pylint

Renamed UEClass
  services/ue_tracks_generation/ue_tracks_generation_handler.py
Due: pylint

Added the attribute docstring
  services/ue_tracks_generation/ue_tracks_generation_handler.py
Due: pylint

Fixed some redundant code
  services/ue_tracks_generation/ue_tracks_generation_handler.py
Due: pylint

created a test file for mobility.py
  radp/digital_twin/mobility/tests/test_mobility.py
Due: pylint

changed name
  radp/digital_twin/mobility/tests/test_mobility_model.py
Due: pylint

deleted wrong test file
  radp/digital_twin/mobility/tests/test_mobility_model.py
Due: pylint

Fixed requirements issue
  radp/digital_twin/requirements.txt
  radp/requirements.txt
  radp/utility/requirements.txt
Due: none

added handler to the mobility directory
  radp/digital_twin/mobility/ue_tracks_generation_handler.py
Due: pylint

added blank test file for handler
  radp/digital_twin/mobility/tests/test_ue_tracks_generation_handler.py
Due: pylint

fixed import issue in handler
  radp/digital_twin/mobility/ue_tracks_generation_handler.py
Due: pylint

Deleted some dump files
  radp/digital_twin/mobility/tests/test_ue_tracks_generation_handler.py
  radp/digital_twin/mobility/ue_tracks_generation_handler.py
Due: pylint

CCO file issue resolved
  notebooks/coo_with_radp_digital_twin.ipynb
Due: jupyter-nb-clear-output

Fixed CCO Notebook
  notebooks/coo_with_radp_digital_twin.ipynb
Due: jupyter-nb-clear-output

Kept the changes in the notebook locally
  notebooks/coo_with_radp_digital_twin.ipynb
Due: jupyter-nb-clear-output

Updated requirements issue from CI test
  notebooks/coo_with_radp_digital_twin.ipynb
  radp/requirements.txt
  services/ue_tracks_generation/requirements.txt
  tests/requirements.txt
Due: jupyter-nb-clear-output

Fixed scikit learn issue
  apps/requirements.txt
  notebooks/requirements.txt
  radp/client/requirements.txt
  radp/common/requirements.txt
  radp/digital_twin/requirements.txt
  radp/utility/requirements.txt
  services/api_manager/requirements.txt
  services/rf_prediction/requirements.txt
Due: none

Updated Requirement Issues (#9)
  apps/requirements.txt
  notebooks/coo_with_radp_digital_twin.ipynb
  notebooks/requirements.txt
  radp/client/requirements.txt
  radp/common/requirements.txt
  radp/digital_twin/requirements.txt
  radp/requirements.txt
  radp/utility/requirements.txt
  services/api_manager/requirements.txt
  services/rf_prediction/requirements.txt
  services/ue_tracks_generation/requirements.txt
  tests/requirements.txt
Due: jupyter-nb-clear-output

UE Generation Handler using distributions data
  radp/digital_twin/mobility/ue_generation_handler.py
Due: pylint
