Repository lf-connectivity/maveric: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, jupyter-nb-clear-output

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --disable=all
  - --enable=W0102
  - --score=no

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  stages:
  - commit
  language: system
  entry: jupyter nbconvert --clear-output

refactored visualization per site
  apps/energy_saving_app/energy_saving_visualizer.py
Due: pylint

completed demo
  notebooks/energy_saving_app.ipynb
Due: jupyter-nb-clear-output

convex hull visuals implemented
  apps/energy_saving_app/energy_saving_visualizer.py
Due: pylint

Added descriptions to Energy Savings notebook
  notebooks/energy_saving_app.ipynb
Due: jupyter-nb-clear-output

energy saving reward func updated
  apps/energy_saving_app/rl_energy_saving_env.py
Due: pylint

added tl data in energy app to gitignore
  .gitignore
Due: none

minor fix
  notebooks/energy_saving_app.ipynb
Due: jupyter-nb-clear-output

finished energy saving demo
  notebooks/energy_saving_app.ipynb
Due: jupyter-nb-clear-output

added demo
  .gitignore
  notebooks/data/energy_saving_data.zip
  notebooks/energy_saving_app.ipynb
Due: jupyter-nb-clear-output

completed demo
  apps/energy_saving_app/rl_trainer.py
  notebooks/energy_saving_app.ipynb
Due: pylint, jupyter-nb-clear-output

update energy saving with cco metric & reward sum bugfix
  .gitignore
  apps/energy_saving_app/rl_energy_saving_env.py
  apps/energy_saving_app/rl_trainer.py
Due: pylint

added demo & convex hull visuals
  .gitignore
  apps/load_balance_app/cco_visualizer.py
  apps/load_balance_app/rl_trainer.py
  notebooks/data/load_balancing_data.zip
  notebooks/load_balancing_app.ipynb
Due: pylint, jupyter-nb-clear-output

updated timesteps
  apps/load_balance_app/Readme.md
  notebooks/load_balancing_app.ipynb
Due: jupyter-nb-clear-output

energy reward updated with cco & reward sum bugfix
  .gitignore
  apps/energy_saving_app/Readme.md
  apps/energy_saving_app/Release_notes.md
  apps/energy_saving_app/rl_energy_saving_env.py
  apps/energy_saving_app/rl_trainer.py
Due: pylint

added demo & updated visualization
  apps/energy_saving_app/energy_saving_visualizer.py
  notebooks/data/energy_saving_data.zip
  notebooks/energy_saving_app.ipynb
Due: pylint, jupyter-nb-clear-output

fixed import bug
  apps/energy_saving_app/rl_trainer.py
Due: pylint

[v0.2]: SinrDB Bug Fix
  apps/mobility_robustness_optimization/mobility_robustness_optimization.py
  apps/mobility_robustness_optimization/tests/test_mobility_robustness_optimization.py
  notebooks/radp_library.py
  radp/digital_twin/utils/constants.py
Due: pylint

renamed load_balancing_app >> load_balancing
  apps/load_balance/Readme.md
  apps/load_balance/bdt_manager.py
  apps/load_balance/cco_rl_env.py
  apps/load_balance/cco_visualizer.py
  apps/load_balance/data_preprocessor.py
  apps/load_balance/main_app.py
  apps/load_balance/rl_predictor.py
  apps/load_balance/rl_trainer.py
  notebooks/load_balancing.ipynb
Due: pylint, jupyter-nb-clear-output

renamed load_balance >> load_balancing
  apps/load_balancing/Readme.md
  apps/load_balancing/bdt_manager.py
  apps/load_balancing/cco_rl_env.py
  apps/load_balancing/cco_visualizer.py
  apps/load_balancing/data_preprocessor.py
  apps/load_balancing/main_app.py
  apps/load_balancing/rl_predictor.py
  apps/load_balancing/rl_trainer.py
  notebooks/load_balancing.ipynb
Due: pylint, jupyter-nb-clear-output

cleaned & renamed to energy savings Signed-off-by: Ahnaf19 <ahnaftanjid19@gmail.com>
  .gitignore
  apps/energy_savings/Readme.md
  apps/energy_savings/Release_notes.md
  apps/energy_savings/bdt_manager.py
  apps/energy_savings/data_preprocessor.py
  apps/energy_savings/energy_saving_visualizer.py
  apps/energy_savings/main_app.py
  apps/energy_savings/rl_energy_saving_env.py
  apps/energy_savings/rl_predictor.py
  apps/energy_savings/rl_trainer.py
  apps/legacy/energy_savings/energy_savings_gym.py
  apps/legacy/energy_savings/tests/test_energy_savings_gym.py
  notebooks/energy_savings.ipynb
  notebooks/energy_savings_on_multicell_bayesian_digitaltwins.ipynb
  notebooks/energy_savings_on_singlecell_bayesian_digitaltwin.ipynb
Due: pylint, jupyter-nb-clear-output

Refactored: v0.3.1: Traffic Load
  radp/digital_twin/traffic_load/Readme.md
  radp/digital_twin/traffic_load/config_gen.py
  radp/digital_twin/traffic_load/plot_gen.py
  radp/digital_twin/traffic_load/spatial_params.json
  radp/digital_twin/traffic_load/test/test_traffic_demand_simulation.py
  radp/digital_twin/traffic_load/time_params.json
  radp/digital_twin/traffic_load/traffic_demand_app.py
  radp/digital_twin/traffic_load/traffic_demand_simulation.py
  radp/digital_twin/utils/tests/test_traffic_demand_simulation.py
Due: pylint

minor fix
  notebooks/load_balancing.ipynb
Due: jupyter-nb-clear-output

reward updated with cco score
  apps/load_balancing/cco_rl_env.py
  apps/load_balancing/rl_trainer.py
Due: pylint

added logs data agents
  .gitignore
Due: none

[v0.2]: SinrDB Bug Fix (#25)
  apps/mobility_robustness_optimization/mobility_robustness_optimization.py
  apps/mobility_robustness_optimization/tests/test_mobility_robustness_optimization.py
  notebooks/radp_library.py
  radp/digital_twin/utils/constants.py
Due: pylint

disabled legacy tests
  .gitignore
  apps/legacy/energy_savings/tests/_test_energy_savings_gym.py
Due: pylint

updated TL dirs in tests
  .gitignore
  radp/digital_twin/traffic_load/test/test_traffic_demand_simulation.py
Due: pylint

Traffic Demand Generation Suite (#20)
  .gitignore
  notebooks/traffic_demand_demonstration.ipynb
  radp/digital_twin/requirements.txt
  radp/digital_twin/traffic_load/Readme.md
  radp/digital_twin/traffic_load/config_gen.py
  radp/digital_twin/traffic_load/plot_gen.py
  radp/digital_twin/traffic_load/spatial_params.json
  radp/digital_twin/traffic_load/test/test_traffic_demand_simulation.py
  radp/digital_twin/traffic_load/time_params.json
  radp/digital_twin/traffic_load/traffic_demand_app.py
  radp/digital_twin/traffic_load/traffic_demand_simulation.py
Due: pylint, jupyter-nb-clear-output

v0.3.2: Energy Saving App (#24)
  apps/energy_savings/Readme.md
  apps/energy_savings/Release_notes.md
  apps/energy_savings/bdt_manager.py
  apps/energy_savings/data_preprocessor.py
  apps/energy_savings/energy_saving_visualizer.py
  apps/energy_savings/main_app.py
  apps/energy_savings/rl_energy_saving_env.py
  apps/energy_savings/rl_predictor.py
  apps/energy_savings/rl_trainer.py
  apps/legacy/energy_savings/energy_savings_gym.py
  apps/legacy/energy_savings/tests/_test_energy_savings_gym.py
  notebooks/data/energy_saving_data.zip
  notebooks/energy_savings.ipynb
  notebooks/energy_savings_on_multicell_bayesian_digitaltwins.ipynb
  notebooks/energy_savings_on_singlecell_bayesian_digitaltwin.ipynb
Due: pylint, jupyter-nb-clear-output

v0.3.3: Load Balance App (#22)
  apps/load_balancing/Readme.md
  apps/load_balancing/bdt_manager.py
  apps/load_balancing/cco_rl_env.py
  apps/load_balancing/cco_visualizer.py
  apps/load_balancing/data_preprocessor.py
  apps/load_balancing/main_app.py
  apps/load_balancing/rl_predictor.py
  apps/load_balancing/rl_trainer.py
  notebooks/data/load_balancing_data.zip
  notebooks/load_balancing.ipynb
Due: pylint, jupyter-nb-clear-output

feat: comprehensive validation system for RADP APIs
  services/api_manager/app.py
  services/api_manager/exceptions/base_api_exception.py
  services/api_manager/exceptions/validation_exception.py
  services/api_manager/handlers/simulation_handler.py
  services/api_manager/handlers/train_handler.py
  services/api_manager/tests/handlers/test_simulation_handler.py
  services/api_manager/tests/handlers/test_train_handler.py
  services/api_manager/tests/validators/test_file_validator.py
  services/api_manager/tests/validators/test_simulation_validator.py
  services/api_manager/tests/validators/test_training_validator.py
  services/api_manager/validators/base_validator.py
  services/api_manager/validators/file_validator.py
  services/api_manager/validators/simulation_validator.py
  services/api_manager/validators/training_validator.py
  tests/happy_case_tests/happy_rf_prediction.py
  tests/happy_case_tests/happy_ue_track_gen_rf_prediction.py
  tests/performance_validation_test.py
  tests/run_end_to_end_tests.py
  tests/run_validation_tests.py
  tests/unhappy_case_tests/unhappy_invalid_requests.py
Due: pylint

enabled parallelism & numpy to attachment
  apps/mobility_robustness_optimization/mobility_robustness_optimization.py
  apps/mobility_robustness_optimization/simple_mro.py
  apps/mobility_robustness_optimization/tests/test_mobility_robustness_optimization.py
  radp/digital_twin/utils/cell_selection.py
  radp/digital_twin/utils/tests/test_cell_selection.py
Due: pylint

pre-commit hook migrated
  .pre-commit-config.yaml
Due: none

upgraded tests
  radp/digital_twin/utils/tests/test_cell_selection.py
Due: pylint

Tensor allocation bug fix
  apps/mobility_robustness_optimization/mobility_robustness_optimization.py
  apps/mobility_robustness_optimization/mro_rl.py
  apps/mobility_robustness_optimization/simple_mro.py
  radp/digital_twin/rf/bayesian/bayesian_engine.py
Due: pylint

Enhanced mobility model params for MRO
  apps/mobility_robustness_optimization/mro_rl.py
  apps/mobility_robustness_optimization/simple_mro.py
  notebooks/radp_library.py
  notebooks/tests/test_radp_library.py
  radp/digital_twin/utils/constants.py
Due: pylint

Enhance MRO ml code
  apps/mobility_robustness_optimization/mro_ml.py
Due: pylint

Added different MRO ml file and added test cases
  apps/mobility_robustness_optimization/mro_ml.py
  apps/mobility_robustness_optimization/tests/test_mro_ml.py
Due: pylint

added mro-ml, enchanced performattachment, enhanced params for mro, added testcases
  .pre-commit-config.yaml
  apps/mobility_robustness_optimization/mobility_robustness_optimization.py
  apps/mobility_robustness_optimization/mro_ml.py
  apps/mobility_robustness_optimization/mro_rl.py
  apps/mobility_robustness_optimization/simple_mro.py
  apps/mobility_robustness_optimization/tests/test_mobility_robustness_optimization.py
  apps/mobility_robustness_optimization/tests/test_mro_ml.py
  notebooks/radp_library.py
  notebooks/requirements.txt
  notebooks/tests/test_radp_library.py
  radp/digital_twin/utils/cell_selection.py
  radp/digital_twin/utils/constants.py
  radp/digital_twin/utils/tests/test_cell_selection.py
Due: pylint

fixed test erro
  apps/mobility_robustness_optimization/mobility_robustness_optimization.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  jupyter-nb-clear-output: any of: \.ipynb$
