Repository lf-connectivity/maveric: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, jupyter-nb-clear-output

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-json
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: ['--markdown-linebreak-ext=md,markdown']

  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        args:
          - --line-length=120

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--profile", "black", "--line-length=120", "--filter-files"]

  - repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        args: ["--max-line-length=120"]

  # --enable=W0102 is a check used when a mutable value as list or dictionary
  # is detected in a default value for an argument.
  # --disable=all, disables warnings
  # --score=no disables having scoring done against code
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ["--disable=all", "--enable=W0102", "--score=no"]

  - repo: local
    hooks:
      - id: jupyter-nb-clear-output
        name: jupyter-nb-clear-output
        files: \.ipynb$
        stages: [commit]
        language: system
        entry: jupyter nbconvert --clear-output

feat: validation system implemented
  services/api_manager/app.py
  services/api_manager/exceptions/validation_exception.py
  services/api_manager/handlers/simulation_handler.py
  services/api_manager/handlers/train_handler.py
  services/api_manager/tests/handlers/test_simulation_handler.py
  services/api_manager/tests/handlers/test_train_handler.py
  services/api_manager/tests/validators/test_base_validator.py
  services/api_manager/tests/validators/test_file_validator.py
  services/api_manager/tests/validators/test_simulation_request_validator.py
  services/api_manager/tests/validators/test_simulation_validator.py
  services/api_manager/tests/validators/test_training_validator.py
  services/api_manager/validators/base_validator.py
  services/api_manager/validators/file_validator.py
  services/api_manager/validators/simulation_validator.py
  services/api_manager/validators/training_validator.py
  tests/run_component_tests.py
  tests/run_validation_tests.py
Due: pylint

Implement agentic mobility and MRO updates
  .gitignore
  apps/mobility_robustness_optimization/agentic_mro/llm/llm_provider.py
  apps/mobility_robustness_optimization/agentic_mro/tests/fixtures/expected_result.json
  apps/mobility_robustness_optimization/agentic_mro/tests/fixtures/sim_data_small.csv
  apps/mobility_robustness_optimization/agentic_mro/tests/test_validation.py
  notebooks/agentic_mobility_model.ipynb
  notebooks/agentic_mro.ipynb
  radp/agentic/__init__.py
  radp/agentic/llm/__init__.py
  radp/agentic/llm/provider.py
  radp/digital_twin/agentic_mobility/defaults/__init__.py
  radp/digital_twin/agentic_mobility/defaults/rural.py
  radp/digital_twin/agentic_mobility/defaults/suburban.py
  radp/digital_twin/agentic_mobility/defaults/urban.py
  radp/digital_twin/agentic_mobility/examples/end_to_end_example.py
  radp/digital_twin/agentic_mobility/nodes/parameter_agent.py
  radp/digital_twin/agentic_mobility/utils/llm_client.py
  requirements-agentic.txt
  tests/agentic/__init__.py
  tests/agentic/test_provider_swap.py
  tests/agentic_mobility/__init__.py
  tests/agentic_mobility/test_pipeline.py
  tests/agentic_mobility/test_presets.py
  updated_developer_guide.md
Due: pylint, jupyter-nb-clear-output

Updated the updated developer guide with commands for running tests
  radp/digital_twin/agentic_mobility/examples/interactive_visualization_demo.ipynb
  radp/digital_twin/agentic_mobility/examples/visualization_demo_enhanced.ipynb
  updated_developer_guide.md
Due: jupyter-nb-clear-output

Update agentic requirements
  requirements-agentic.txt
Due: none

Made changes to requirement-dev.txt
  apps/mobility_robustness_optimization/mobility_robustness_optimization.py
  notebooks/coo_with_radp_digital_twin.ipynb
  notebooks/mobility_model.ipynb
  notebooks/mro.ipynb
  notebooks/radp_library.py
  requirements-dev.txt
Due: pylint, jupyter-nb-clear-output

feat: agentic LLM provider, mobility defaults, and test suites
  .gitignore
  DEVELOPER-GUIDE.md
  apps/mobility_robustness_optimization/agentic_mro/tests/__init__.py
  apps/mobility_robustness_optimization/agentic_mro/tests/fixtures/expected_result.json
  apps/mobility_robustness_optimization/agentic_mro/tests/fixtures/sim_data_small.csv
  apps/mobility_robustness_optimization/agentic_mro/tests/test_validation.py
  notebooks/agentic_mobility_model.ipynb
  notebooks/agentic_mro.ipynb
  radp/agentic/__init__.py
  radp/agentic/llm/__init__.py
  radp/agentic/llm/provider.py
  radp/digital_twin/agentic_mobility/defaults/__init__.py
  radp/digital_twin/agentic_mobility/defaults/rural.py
  radp/digital_twin/agentic_mobility/defaults/suburban.py
  radp/digital_twin/agentic_mobility/defaults/urban.py
  requirements-agentic.txt
  requirements-dev.txt
  tests/agentic/__init__.py
  tests/agentic/test_provider_swap.py
  tests/agentic_mobility/__init__.py
  tests/agentic_mobility/test_pipeline.py
  tests/agentic_mobility/test_presets.py
Due: pylint, jupyter-nb-clear-output
